<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <title>
        <%= title %>
    </title>
    <link id="style1" rel="stylesheet" href="/public/stylesheets/index.css">
</head>

<body>
    <div class="interlace"></div>
    <div id="container"></div>
    <script type="text/javascript" src="/public/third_party/jquery.min.js"></script>
    <script type="text/javascript" src="/public/third_party/jquery.xdomainajax.js"></script>
    <script type="text/javascript" src="/public/third_party/bootstrap.js"></script>
    <script type="text/javascript" src="/public/javascripts/initialize.js"></script>
    <script type="text/javascript" src="/public/javascripts/command.js"></script>
    <script type="text/javascript" src="/public/javascripts/runcommand.js"></script>
    <script type="text/javascript" src="/public/javascripts/clicli.js"></script>
    <script type="text/javascript" src="/public/javascripts/listener.js"></script>
</body>

</html>
