@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: normal;
  src: local('Monaco'), url('Monaco.woff') format('woff');
}

html, body {
  margin: 0;
  height: 100%;
}
body {
  font-family: Inconsolata, monospace;
  color: white;
  background: -webkit-radial-gradient(center center, contain, rgba(0,150,0,1), black) center center no-repeat, black; /*center center for the gradient scrolls with the page :(*/
  /*background: -webkit-radial-gradient(center 75%, contain, rgba(0,75,0,0.8), black) center center no-repeat, black;*/
  -webkit-background-size: 110% 100%;
}
