@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: normal;
  src: local('Monaco'), url('Monaco.woff') format('woff');
}

html, body {
  margin: 0;
  height: 100%;
}
body {
  font-family: Inconsolata, monospace;
  color: white;
  background: black;
  /*background: -webkit-radial-gradient(center center, contain, rgba(0,150,0,1), black) center center no-repeat, black; */
  /*-webkit-background-size: 110% 100%;*/
}
